<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Materials</title>
    <link href="/style.css" rel="stylesheet" 
      type="text/css">
  </head>
  <body>
    <h1>We have encountered an error</h1>
    <p>Message:</p>
    <p class="message">{{ message }}</p>
    <p>Maybe you would like to visit the
      <a href="/materials">materials page</a>
    </p>
  </body>
</html>